body {
    background-color: #131516;
    margin: 0;
  }

  #mySidenavmenu button {
    position: absolute; 
    bottom: 90%;
    transition: 0.5s; 
    padding: 15px; 
    width: 50px; 
    color: white; 
    z-index: 1;
    border-radius: 0 15px 15px 0; 
  }
  
  #about:hover {
    left: -1px 
  }
  
  #about {
    left: -45px;
    top: 20px;
    background-color: #111;
  }

  #info {
    position: absolute;
    padding: 8px 8px 8px 8px;
    border: 2px solid #818181;
    background-color: #111;
    right: 25px;

  }

  #ytVideo {
    display: none;
  }

  #twitchVideo {
    display: none;
  }
  
  .button {
    padding: 14px 40px;
    text-align: absolute;
    display: block;
    color: white;
    font-size: 15px;
    width: 100%;
    transition-duration: 0.4s;
  } 

  .button:hover {
    background-color: #555555;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
  } 

  .sidenav {
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 0px; 
    transition: 0.5s; 
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidenav h2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight:600
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav #yt:hover {
    color: #c4302b;
  }

  .sidenav #tw:hover {
    color: #6441a5;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-radius: 15px;
  }
  
  #main {
    transition: margin-left .5s;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition-duration: 0.4s;
  }
  
  .popup-content {
    background-color: #111;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 45vh; 
    transition-duration: 0.4s;
    padding-bottom: 1%;
    font-style: #818181;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
